<h1>New Brand</h1>
<%= link_to 'Back', brands_path %>

<div style="margin-left: 200px; margin-right: 200px;">  
  <%= form_for @brand do |f| %>
    <div style="margin-bottom: 10px;">
      <p style="margin-bottom: 5px;">Brand</p>
      <%= f.text_field :car_brand %>
    </div>
    <br/>
    <div style="margin-top: 20px;">
      <%= f.submit "Add Brand" %>   
    </div>
  <% end %>
</div>